*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
 background-color: #23252c ;
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card{
    background-color: #1a1b21;
    width: 300px;
    height: 630px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 12px;
    position: relative;

}

@media screen and (max-width: 300px){


    .card{
        background-color: #1a1b21;
        width: 260px;
        height: 600px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        border-radius: 12px;
        position: relative;
    
    }

}